/* YO */
.head {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
}
.globalnavi {
  display: flex;
  margin-top: 20px;
}
.globalnavi a {
  background-color: #C4C9D0;
  border-radius: 8px;
  color: #FFFFFF;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  height: 43px;
  cursor: pointer;
  line-height: 43px;
  text-align: center;
  text-decoration: none;
  width: 116px; /* width: 120px; */
}

.globalnavi > li + li {
  margin-left: 8px;
}

.globalnavi > li > .active {
  background-color: #0EB784;
}

.input__text {
  background-color: #FFFFFF;
  border: 1px solid #E0E1E2;
  border-radius: 8px;
  height: 32px;
  padding: 0 12px;
  width: 216px;
}

.input__text::placeholder {
  color: #E0E1E2;
}

.input__submit {
  background-color: #0EB784;
  border: none;
  border-radius: 8px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  height: 32px;
  margin-left: 8px;
  text-align: center;
  width: 100px;
}


.input_radio {
  -webkit-appearance: none;
  background-color: #FFFFFF;
  border: 1px solid #E0E1E2;
  border-radius: 50%;
  height: 14px;
  margin: 0;
  margin-right: 8px;
  position: relative;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  width: 14px;
}

.input_radio:checked::after a{
  background-color: #0EB784;
  border-radius: 50%;
  content: "";
  display: block;
  height: 6px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 6px;;
}

/* KR */
body {
  background: #f2f2f2;
  line-height: 1.5;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  margin: 0 auto;
  width: 980px;
}
.articleList {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
.articleListItem {
  background-color: #ffffff;
  border: 1px solid #e0e1e2;
  border-radius: 4px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  margin-left: 12px;
  overflow: hidden;
  position: relative;
  width: calc((100% - 36px) / 4);
}
.articleListItem:nth-child(4n + 1) {
  margin-left: 0;
}
.articleListItem:nth-child(n + 5) {
  margin-top: 12px;
}
.articleListDeleteBtn {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  color: #909090;
  height: 20px;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 20px;
}
.articleListDeleteBtn::before,
.articleListDeleteBtn::after {
  background-color: #909090;
  border-radius: 1px;
  content: "";
  height: 1px;
  left: 50%;
  margin-left: -6px;
  top: 50%;
  position: absolute;
  width: 13px;
}
.articleListDeleteBtn::before {
  transform: rotate(45deg);
}
.articleListDeleteBtn::after {
  transform: rotate(-45deg);
}

.articleListLink {
  color: inherit;
  display: block;
  text-decoration: none;
}
.articleListImgWrapper {
  background: center/100% auto no-repeat;
  height: 0;
  overflow: hidden;
  padding-top: calc(100% * 9 / 16);
  width: 100%;
}
.articleListImgWrapper img {
  width: 100%;
}
.articleListTextWrapper {
  padding: 16px;
}
.articleListTitle {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.articleListArticleDetailWrapper {
  color: #e0e1e2;
  display: flex;
  font-size: 10px;
  justify-content: space-between;
  margin-top: 4px;
}
@media (max-width: 768px) {
  .container {
    padding: 0 12px 36px;
    width: 100%;
  }
  .articleList {
    margin-top: 12px;
  }
  .articleListItem {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    margin: 0;
    width: 100%;
  }
  .articleListItem + .articleListItem {
    margin-left: 0;
    margin-top: 8px;
  }
  .articleListLink {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .articleListItem:first-child .articleListLink {
    display: block;
  }
  .articleListItem:first-child .articleListImgWrapper {
    padding-top: 50%;
    width: 100%;
  }
  .articleListItem:first-child .articleListTextWrapper {
    padding: 16px 12px 12px;
  }
  .articleListDeleteBtn {
    left: 8px;
  }
  .articleListImgWrapper {
    padding-top: calc(40% * 2 / 3);
    width: 40%;
  }
  .articleListTextWrapper {
    flex: 1;
    padding: 16px 12px;
  }
  .articleListTitle {
    font-size: 12px;
    -webkit-line-clamp: 2;
  }
  .articleListArticleDetailWrapper {
    color: #e0e1e2;
    display: flex;
    font-size: 10px;
    justify-content: space-between;
    margin-top: 4px;
  }
}